<!DOCTYPE html>
<html lang="en-US" ng-app="FlyrPOCApp">

<script src="js/angular.min.js"></script>
<script src="js/hackathon.js"></script>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="css/bootstrap.min.css">

<body ng-controller="FlyrPOCController">

<div class="container">

    <br/><br/>

    <div class="jumbotron">
      <h1>Hackathon</h1>
      <p>(Testing and Internal Use Only)</p>
      <p>{{sampleVar}}</p>

        <div class="progress" ng-show="processingRequest">
          <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
            <span class="sr-only">In Progress</span>
          </div>
        </div>

        <span style="color: red">{{errorMessage}}</span>

    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Round Trip Search</h3>
      </div>
      <div class="panel-body">

        <div class="row">
            <div class="col-lg-3">
                <input
                        ng-change="testTypeAhead()"
                        ng-model="testInputVal"
                        type="text"
                        class="form-control"
                        placeholder="Origin Airport Code" >
            </div><!-- /.col-lg-3 -->
            <div class="col-lg-3">
                <a class="btn btn-primary btn-lg" ng-click="testFunction()">Testing</a>
            </div><!-- /.col-lg-3 -->
            <div class="col-lg-3">
                <a class="btn btn-primary btn-lg" ng-click="getAvail()">Get Avail</a>
            </div><!-- /.col-lg-3 -->
            <div class="col-lg-3">
                Col 4
            </div><!-- /.col-lg-3 -->
        </div><!-- /.row -->

          <div class="row">
              <div class="col-lg-12">
                  <p>Sample for single item: {{availResponse.availability.flightAmenity[0].name[0].name}}</p>
                  <ul>
                      <li ng-repeat="singleAmenity in availResponse.availability.flightAmenity">
                          {{singleAmenity.name[0].name}}
                      </li>
                  </ul>
              </div>
          </div>


      </div>



    </div>
</body>
</html>
